extends layout
block content
    span(class="titles") #{title}
    p #{username}
    p Welcome to #{title}
    p Welcome to hello #{username}
    p /users开头的会请求到users.js里面的路由
    p /spider开头的会请求到spider.js里面的路由
    p npm run start为开启项目的
    p 这个是猫眼的页面呵呵呵
